* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 67%;
  margin: auto;
}

:root {
  --primary: #ffffff;
  --secondary: #f6f6f6;
  --tertiary: #e1e2e3;
  --quaternary: #f1ebf7;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

body {
  background-color: var(--secondary);
  font-family: "Plus Jakarta Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

/* 
HEADER 
*/

header {
  background: var(--primary);
  color: #363539;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  border-bottom: 1px solid (var(--tertiary));
  height: 60px;
  align-items: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  align-items: center;
  margin-left: 18px;
}

nav button {
  margin-left: 36px;
}

.alltool,
.languages {
  display: flex;
}

.icon-dropdown {
  margin-left: 2px;
}

/* 
MAIN 
*/

.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f1ebf7;
  padding: 32px;
  gap: 12px;
}

.grid .container {
  display: grid;
  width: 67%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

.grid .container .tool-box {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 24px;
  background: white;
  border: 0.5px solid #ededed;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
}

.grid .container .tool-box .tool {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid .container .tool-box:first-child {
  border-top-left-radius: 6px;
}
.grid .tool-box:last-child {
  border-bottom-right-radius: 6px;
}
.grid .container .tool-box:nth-child(3) {
  border-top-right-radius: 6px;
}
.grid .container .tool-box:nth-child(4) {
  border-bottom-left-radius: 6px;
}

.howto .titel {
  margin: 76px 0 38px 0;
  text-align: center;
}

.howto .steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.howto .item {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin-bottom: 136px;
}

.features {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.features-box {
  display: grid;
  grid-template-areas:
    "text1 image1"
    "image2 text2"
    "text3 image3";
}

.features-text1 {
  text-align: left;
  margin-top: 75px;
  grid-area: text1;
}
.features-text2 {
  text-align: left;
  margin-top: 75px;
  grid-area: text2;
}
.features-text3 {
  text-align: left;
  margin-top: 75px;
  grid-area: text3;
}
.features-image1 {
  grid-area: image1;
}
.features-image2 {
  grid-area: image2;
}
.features-image3 {
  grid-area: image3;
}

.features-description {
  margin: 40px 0px;
}

.button-convertpdf {
  width: 142px;
  height: 48px;
  background: #6d18dc;
  box-shadow: 0px 4px 8px rgba(64, 15, 127, 0.26);
  border-radius: 8px;
  color: white;
}

.whychoose {
  margin: 75px 0px;
}

.whychoose-box {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

.whychoose-item {
  margin-bottom: 24px;
}

.whychoose-item .text {
  margin: 12px 0px;
}

/* 
TABLET
*/

@media screen and (max-width: 768px) {
  .howto .steps {
    grid-template-columns: repeat(1, 1fr);
  }

  .features-box {
    grid-template-areas:
      "text1"
      "image1"
      "text2"
      "image2"
      "text3"
      "image3";
  }
}

/* 
PHONE
*/

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid .tool-box:nth-child(2) {
    border-top-right-radius: 6px;
  }
  .grid .tool-box:nth-child(3) {
    border-top-right-radius: 0px;
  }
  .grid .tool-box:nth-child(4) {
    border-bottom-left-radius: 0px;
  }
  .grid .tool-box:nth-child(5) {
    border-bottom-left-radius: 6px;
  }

  .howto .steps {
    grid-template-columns: repeat(1, 1fr);
  }
}
